<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="LoginStyles.css">
  <title>Login</title>
</head>
<body>
  <article class="article-styles">
    <section class="img-section-styles">
    </section>

    <section class="section-styles">
      <div class="title-styles">
        <h3>Inicia Sesión</h3>
      </div>
      <form class="form-styles" action="https://formspree.io/f/xpzelwgj" method="POST">
        <div class="form-sections-styles">
          <div>
            <label for="">Ingresa tu Correo o Número Teléfonico</label>
            <input type="email" id="contacto" placeholder="Tu Correo..." pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}|(\d{3})\s*(\d{3})\s*(\d{4})" required>
          </div>
    
          <div>
            <label for="">Ingresa tu Contraseña</label>
            <input type="password" id="password" placeholder="Tu Contraseña..." required>
          </div>
        </div>
  
        <div class="div-submit">
          <input type="submit" value="Iniciar Sesión">
        </div>
      </form>

      <div class="count-exist-styles">
        <div>
          <p>¿Eres nuevo en WLANS BOOKS?</p>
        </div>
        <div class="iniciar-sesion-styles">
          <a href="../Registro/registroIndex.html">Crea Tu Cuenta</a>
        </div>
      </div>

    </section>
  </article>
</body>
</html>