<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../about/about.css">
  <title>Acerca de nosotros</title>
</head>

<body>

  <!-- Header NAV -->
  <header>
    <a class="logo" href="../../../index.html"><img src="../../assets/img/LogoWLANS.png"
        alt="Logo WLANS Books Store"></a>
    <nav>
      <ul class="nav__links">
        <li><a href="../../../index.html">Inicio</a></li>
        <li><a href="./about.html">Acerca de</a></li>
        <li><a href="../contact/contact.html">Contáctenos</a></li>
        <li><a href="../products/products.html">productos</a></li>
        <li><a href="../Registro/registroIndex.html">Crear cuenta</a></li>
        <li><a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg> </a></li>
      </ul>
    </nav>
    <a class="cta" href="./../Login/LoginIndex.html">Iniciar sesión</a>
    <p class="menu cta">Menu</p>
  </header>
  <div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="../../../index.html">Inicio</a>
      <a href="./about.html">Acerca de</a>
      <a href="../contact/contact.html">Contáctenos</a>
      <a href="../products/products.html">productos</a>
      <a href="../Registro/registroIndex.html">Crear cuenta</a>
      <a href="#">Iniciar Sesión</a>
      <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg> </a>
    </div>
  </div>

  <section id="scroll-3" class="container-banner">
    <h1 class="item-banner">Quienes Somos</h1>

    <button class="abajo" onclick="scrollSection()"><img src="../../assets/img/abajo.png" alt="fecha"></button>


  </section>


  <section class="container-section1">
    <p class="item-section1">
      Plataforma en línea de venta de libros de segunda mano. Buscamos
      promover y fomentar el hábito de la lectura, preservar el medio ambiente y brindar un
      servicio de alta calidad y eficiencia. Ofrecemos una amplia selección
      de libros a precios competitivos, junto con una experiencia de compra en línea fácil y segura,
      ademas buscamos inspirar a las personas a descubrir nuevos títulos y expandir sus horizontes
      culturales
      a través de la lectura.
    </p>
  </section>


  <section id="scroll" class="container-txt1">
    <article class="item-txt1">
      <h2>Nuestro<br><span>Proposito</span></h2>
      <p> Para el segundo semestre del año 2023 WLANS BOOKS será reconocida como una de las
        principales plataformas en línea, desarrollando un canal de venta de libros usados a precios
        competitivos, junto con una experiencia única e innovadora en la compra en línea. Con un
        enfoque en la diversidad, la inclusión y el servicio excepcional al cliente, buscan fomentar
        una cultura de lectura y aprendizaje continuo para todos basados en el conocimiento profundo
        de las necesidades de nuestros clientes, y tener una base de clientes satisfechos y leales.
      </p>



    </article>

    <div class="item-img1">
      <img id="img1" src="../../assets/img/item-img.jpg" alt="lapiz">
    </div>

  </section>


  <section class="container-txt2">

    <div class="item-img2">
      <img id="img2" src="../../assets/img/grafico.png" alt="grafico">
    </div>


    <article class="item-txt3">
      <h3 id="scroll" class="item-txt2-centrado">¿Por qué elegirnos?</h3>
      <p> En los últimos años se ha evidenciado un incremento hasta del 20% en los costos por
        procesos productivos y logísticos, esto ha hecho que cada vez menos personas tengan acceso a
        libros. WLANS beneficia la educación, la economía actual y al medio ambiente.</p>
    </article>



  </section>

  <section class="team">
    <div>
      <h4 class="title">Conoce nuestro equipo</h4>
    </div>
    <hr>

    <div class="container-card">

      <div class="card card1" onclick="mostrarContenido()">
        <img src="../../assets/img/natalia.jpg" alt="natalia">

        <h2>Natalia Diaz</h2>
        <h3 class="roll">Desarrolladora</h3>

        <div id="card-content1" style="display: none;">
          <p>Marketing digital, desarrolladora full stack JAVA, apasionada por el diseño y el desarrollo frontend.</p>
        </div>


      </div>


      <div class="card card2" onclick="mostrarContenido2()">
        <img src="../../assets/img/leopoldo.jpg" alt="leopoldo">

        <h2>Leopoldo Caraballo</h2>
        <h3 class="roll">Desarrollador</h3>

        <div id="card-content2" style="display: none;">
          <p>Ingeniero en sistemas, desarrollador full stak JAVA apasionado por el aprendizaje continuo y el trabajo en
            equipo.</p>
        </div>

      </div>

      <div class="card card3" onclick="mostrarContenido3()">

        <img src="../../assets/img/felipe.jpg" alt="felipe">

        <h2>Felipe Alvarado </h2>
        <h3 class="roll">Desarrollador</h3>

        <div id="card-content3" style="display: none;">
          <p>Ingeniero multimedia, desarrollador full stack JAVA apasionado por el desarollo de gamer </p>
        </div>


      </div>



      <div class="card card4" onclick="mostrarContenido4()">

        <img src="../../assets/img/wilmara.jpg" alt="Wilmara">
        <h2>Wilmara Ruiz</h2>
        <h3 class="roll">Scrum Master</h3>


        <div id="card-content4" style="display: none;">
          <p>Ingeniera electronica, desarrolladora full stack JAVA apasionada en desarrollo backend.</p>
        </div>

      </div>



      <div class="card card5" onclick="mostrarContenido5()">
        <img src="../../assets/img/sthef.jpg" alt="sthefanny">
        <h2>Sthefanny Escobar</h2>
        <h3 class="roll">Product Manager</h3>

        <div id="card-content5" style="display: none;">
          <p>Negocios internacionales, desarrolladora full stack JAVA junior apasionada por el desarrollo frontend.</p>
        </div>
      </div>
    </div>


  </section>

  <footer>
    <div class="footer-elements">
      <div class="footer-ubicacion">
        <h3>Ubicación</h3>
        <p>Bogotá D.C.</p>
      </div>

      <div class="footer-logo_redes">
        <div>
          <a class="logo" href="../../../index.html"><img src="../../assets/img/LogoWLANS_sinfondo.png"
              alt="Logo WLANS Books Store"></a>
        </div>
        <hr>
        <div class="footer-icons">
          <i class="fa-brands fa-github fa-2x" style="color: #ffffff;"></i>
          <i class="fa-brands fa-linkedin fa-2x" style="color: #ffffff;"></i>
          <i class="fa-brands fa-twitter fa-2x" style="color: #ffffff;"></i>
        </div>
      </div>

      <div class="footer-correo">
        <h3>Correo</h3>
        <p><a href="mailto:contacto@wlansbooks.com"> contacto@wlansbooks.com</a></p>
      </div>
    </div>

    <div class="footer-copyright">
      <p>Copyright © WLANS BOOKS - All Rights Reserved</p>
    </div>
  </footer>

  <script src="../about/about.js"></script>

</body>

</html>