<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./products.css">

    <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
    
    <title>Productos</title>
</head>

<body>
    <!--Header-->


    <header>
        <a class="logo" href="../../../index.html"><img src="../../assets/img/LogoWLANS.png"
                alt="Logo WLANS Books Store"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="../../../index.html">Inicio</a></li>
                <li><a href="../about/about.html">Acerca de</a></li>
                <li><a href="./contact.html">Contáctenos</a></li>
                <li><a href="../products/products.html">productos</a></li>
                <li><a href="../Registro/registroIndex.html">Crear cuenta</a></li>
                <li><a href="../Shop/shop.html"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg> </a></li>
                <li class="btn-carrito" id="carritoClick"><img src="../../assets/img/check.png" alt=""></li>   
            </ul>
        </nav>
        <a class="cta" href="./../Frontend/src/components/Login/LoginIndex.html">Iniciar sesión</a>
        <p class="menu cta">Menu</p>
    </header>

    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="../../../index.html">Inicio</a>
            <a href="../about/about.html">Acerca de</a>
            <a href="../contact/contact.html">Contáctenos</a>
            <a href="./products.html">productos</a>
            <a href="../Registro/registroIndex.html">Crear cuenta</a>
            <a href="../Login/LoginIndex.html">Iniciar Sesión</a>
            <a href="../Shop/shop.html"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg> </a>
        </div>
    </div>

    <!--Banner-->
    <section class="banner">
        <picture class="bannerimg">
            <source src="../../assets/img/library.png" type="img" media="(max-width:800px)" class="banner_img">
            <img src="../../assets/img/timelapse.png" alt="" class="banner_img">
        </picture>

        <h1 class="title">PRODUCTOS</h1>
    </section>

    <!--Categories-->
    <section class="categories">
        <h3>Categorías</h3>
        <ul class="category_list">
            <li class="category_items"> <a href="#1">Científicos</a> </li>
            <li class="category_items"> <a href="#2"> Literatura y lingüísticos</a></li>
            <li class="category_items"> <a href="#3"> De viaje</a></li>
            <li class="category_items"><a href="#4">Novelas</a></li>
            <li class="category_items"><a href="#5">Litearatura Infantil</a></li>
            <li class="category_items"><a href="#6">Profesional y Crecimiento personal</a></li>
            <li class="category_items"><a href="#7">Poéticos</a></li>
            <li class="category_items"><a href="#8">Literatura Juvenil</a></li>


        </ul>
    </section>

    <!--Products-->

    <section class="cards" id="cards">


    </section>


    <div id="modal_container">

    </div>

    <footer class="footer-styles">
        <div class="footer-elements">
            <div class="footer-ubicacion">
                <h3>Ubicación</h3>
                <p>Bogotá D.C.</p>
            </div>

            <div class="footer-logo_redes">
                <div>
                    <a class="logo" href="./index.html"><img class="img-footer-styles" src="../../assets/img/LogoWLANS.png" alt="Logo WLANS Books Store"></a>
                </div>
                <hr>
                <div class="footer-icons">
                    <i class="fa-brands fa-github fa-2x" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-linkedin fa-2x" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter fa-2x" style="color: #ffffff;"></i>
                </div>
            </div>
    
            <div class="footer-correo">
                <h3>Correo</h3>
                <p>contacto@wlansbooks.com</p>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Copyright © WLANS BOOKS - All Rights Reserved</p>
        </div>
    </footer>


    <script src="./products.js"></script>
    <script src="./libros.json"></script>
    <script src="../Shop/shop.js"></script>
</body>

</html>