<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./contact.css">
  <title>Contáctenos</title>
</head>

<body>
    
    <section class="container-banner">
      <header class="header"></header>
    </section>

    <div class="content">
      <h1>Contáctenos</h1>
      <div class="contact-wrapper">
        <div class="contact-form">
          <form id="contactenos" action="https://formspree.io/f/xbjeylkq" method="POST">
            <input class="inputs" name="nombre" required type="text" placeholder="Nombre completo">
            <input class="inputs" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required type="email" placeholder="Correo electrónico">
            <input class="inputs" name="numero" pattern="[0-9]{10}" required type="number" placeholder="Número de contacto">
            <textarea class="block" name="textarea" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <input class="button" type="submit" value="Enviar">
          </form>
        </div>
        
      </div>
      <div class="contact-info">
        <h3>Más información</h3>

         <ul class="list">
          <li> <img src="./../../assets/img/ubicacion.png" alt="ubicacion">Bogotá - Colombia</li>
          <li> <img src="./../../assets/img/correo.png" alt="correo">wlansbokks@gmail.com</li>
          <li> <img src="./../../assets/img/telefono.png" alt="telefono">333 222 22 22</li>
          </ul> 


      </div>
    </div>

    <div class="container-banner2">
      <h2>
        Espacio publicitario
      </h2>
    </div>

   <div id="alert">

   </div>
  
  <script src="contact.js"></script>
 
  
</body>
</html>