/* Estilos generales  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


:root {
  --onecolor: #A1594C;
  --twocolor: #BAC4D0;
  --threecolor: #50555D;
  --fourcolor :#1B2437;
  --fivecolor:#0d0d11;
  --sixcolor:#DAC2BB;
  --sevencolor:#FAFBFD;

  --textfont: 'Merriweather', sans-serif;
  --tittlefont: 'Oswald', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--textfont);
}
body{
  width: 100vw;
  min-width: 360px;
  background: rgb(27, 36, 55);
  background: radial-gradient(circle, rgba(27,36,55,1) 0%, rgba(13,13,17,1) 91%);
  overflow-x: hidden;
  z-index: 1;

}

/* header */

header{
  margin-bottom: 20px;
  display: flex;
}

header img{
  width: 224px;
  height: 150px;

}


.div1{
  margin-right: 50px;
}
.div2{
  justify-content: center;
align-items:  center;
padding-left: 50px;
margin-right: 50px;
padding-top:50px ;
width: 600px;
}
.div2 input{
  width: 400px;
  background-color: #0d0d11;
  border-radius: 10px ;
  color: #FAFBFD;
  border: 2px solid var(--sevencolor);
}

.div2 button{
  background-color:var(--fivecolor);
  border-radius: 10px;
  color: var(--sevencolor);
  border: 2px solid var(--sevencolor);
  width: 80px;
}
.div2 button:hover{
  background-color:var(--onecolor);
  border-radius: 10px;
  color: var(--fivecolor);
  border: 2px solid var(--fivecolor);
  width: 80px;
}

.div3{
  justify-content: center;
  width: 200px;
  align-items:  end;
  padding-top:50px ;
  padding-left: 50px;
 margin-left: 50px;
}

.div1 a, .div3 a {
  color: var(--twocolor);
  text-decoration: none;
}
/* pie de pagina  */

.page{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link{
  background-color:  #0D0D11;
  color:  #FAFBFD;
}
.page-link:hover{
  background-color: #Dac2bb;
  color: #0D0D11;
}

h2{
  color: #BAC4D0;
}

/* card de categoria  */
.card{

color: var(--sevencolor);
margin-left: 20px;
width: 70vw;
background-color: var(--fivecolor);
border-radius: 10px;
border:solid 5px var(--fourcolor);
margin-top: 20px;
}

.card_img{
padding-top: 20px;
display: flex;
}

.card_text li{
  list-style:none;

}


.card_img img{
  margin: 0px 0px 0px 15px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
.card_botones{
  display: flex;
  justify-content: center;
}

.card_botones button{
  margin: 10px;
}

.ver_libros{
  visibility:hidden;
}
.por_categoria{
  visibility: hidden;
}


form select{
  background-color: var(--fivecolor);
  border: 1px solid var(--sevencolor);
  color: var(--sevencolor);
  border-radius: 10px;
}


form button{
  background-color: var(--fivecolor);
  color: var(--sevencolor);
  border-radius: 10px;
  font-size: 16px;
}

/* Para modal */




.modal_container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 20px;
  
}
.modal__conten {
  max-width: 500px;
  max-height: 500px;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  color:#fafbfd;
  background: radial-gradient(ellipse at center, #1B2437 0%, #092437 88%, #1B2437 100%);
  display: block;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 3px 16px 7px #a1594c4c;
}


  .modal__closed{
    position: absolute;
    top: 5px;
    right: 3px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--sevencolor);
  }
 

  .modal_img{
    display: flex;
    margin-left: 50px;   
  }

  .modal__conten h3, .modal__conten h4{
    font-family: var(--tittlefont);
    
  }
  .modal_img p{
    background-color: var(--fourcolor);
    border: var(--sevencolor) 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding-top: 5px; }

  .modal_p{
    display: block;
  }

  @media (max-width: 925px) {
    html{
      overflow-x: hidden;
    }
    body{
      overflow-x: hidden;
    }
    header{
      margin-bottom: 5px;
      display: flex;
    }
  
  header img{
    max-width: 60%;
    max-height: 80%;
  }
  
  .div1{
    margin-right: 30px;
  }
  .div2{
  padding-left: 30px;
  margin-right: 30px;
  padding-top:20px ;
  width: 60%;
  }
  .div2 input{
    max-width: 300px;
    border-radius: 10px ;
  
  }
  
  .div2 button{
    width: 80px;
    height: 40px;
  }
  
  .div3{
  
    max-width: 15%;
    padding-top:50px ;
    padding-left: 10px;
   margin-left: 50px;
  }

  .page{
    max-width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{

    
    margin-left: 20px;
    width: 60vw;
    margin-top: 20px;
    }

    .card_img img{
      width: 150px;
      height: 100px;
    }

    .card_text li{
     font-size: 15px;
    
    }

    .card_botones button{
      margin: 10px;
      width: 110px;
      height: 30px;
    }

    .modal__conten{
      max-width: 40%;
      max-height: 80%;
      padding: 30px;
      font-size: 16px;
    } 

    .modal__conten h3, .modal__conten h4{
      font-size: 20px;
      font-family: var(--tittlefont);
      
    }

    .modal__closed{
      font-size: 15px;
     
    }

  }