<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footerStyles.css">
    <script src="https://kit.fontawesome.com/02c80648f9.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer-elements">
            <div class="footer-ubicacion">
                <h3>Ubicación</h3>
                <p>Bogotá D.C.</p>
            </div>

            <div class="footer-logo_redes">
                <div>
                    <a class="logo" href="./index.html"><img src="../../assets/img/LogoWLANS.png" alt="Logo WLANS Books Store"></a>
                </div>
                <hr>
                <div class="footer-icons">
                    <i class="fa-brands fa-github fa-2x" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-linkedin fa-2x" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter fa-2x" style="color: #ffffff;"></i>
                </div>
            </div>
    
            <div class="footer-correo">
                <h3>Correo</h3>
                <p>contacto@wlansbooks.com</p>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Copyright © WLANS BOOKS - All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>