<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="LoginStyles.css">
  <title>Login</title>
</head>
<body>
  <section class="section-styles">
    <div class="title-styles">
      <h3>Inicia Sesión</h3>
    </div>
    <form class="form-styles">
      <div class="form-sections-styles">
        <div>
          <label for="">Ingresa tu Correo</label>
          <input type="text" placeholder="Tu Correo...">
        </div>
  
        <div>
          <label for="">Ingresa tu Contraseña</label>
          <input type="password" placeholder="Tu Contraseña...">
        </div>
      </div>

      <div class="div-submit">
        <input type="submit" value="Iniciar Sesión">
      </div>

    </form>
  </section>
  
</body>
</html>