<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <title>Document</title>
</head>

<body>
    <!-- Header NAV -->
    <header>
        <a class="logo" href="./index.html"><img src="../../assets/img/LogoWLANS_sinfondo.png" alt="Logo WLANS Books Store"></a>
        <nav>
            <ul id="ulmenu" class="nav__links">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./src/components/about/about.html">Acerca de</a></li>
                <li><a href="./src/components/contact/contact.html">Contáctenos</a></li>
                <li><a href="./../Frontend/src/components/products/products.html">productos</a></li>
                <li><a href="./src/components/Registro/registroIndex.html">Crear cuenta</a></li>
                <li><a href="./src/components/Shop/shop.html"> <svg xmlns="http://www.w3.org/2000/svg" width="22"
                            height="22" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg> </a></li>
            </ul>
        </nav>
        <a onclick="cerrar()" class="cta">Cerrar sesión</a>
        <p class="menu cta">Menu</p>
    </header>

    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="./index.html">Inicio</a>
            <a href="./src/components/about/about.html">Acerca de</a>
            <a href="./src/components/contact/contact.html">Contáctenos</a>
            <a href="./src/components/products/products.html">productos</a>
            <a href="./src/components/Registro/registroIndex.html">Crear cuenta</a>
            <a href="./src/components/Login/LoginIndex.html">Iniciar Sesión</a>
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg> </a>
        </div>
    </div>










    <script src="./header.js"></script>
</body>

</html>