@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&display=swap');
/*   font-family: 'Merriweather', serif;*/
/*  font-family: 'Oswald', sans-serif; */


.modal_container {
  background-color:transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.modal__conten {
  width: 350px;
  max-width: 500px;
  height: 250px;
  padding: 5px 15px 25px 15px;
  position: absolute;
  border-radius: 10px;
  color: #fafbfd;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  background-image: url(../../assets/img/logo.png);
  background-color: #1b24379d;
  display: block;
  letter-spacing: 1px;
  z-index: 2;

}


.modal__conten h3  {
  text-align: left;
  padding-top: 30%;
  font-size: 20px;
  width: 250px;
  
  padding-left: 10px;

}

.modal__closed {
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
  border: none;
  outline: none;
  color: #f2f2f2;
  font-size: 25px;
  cursor: pointer;
}



*{
    margin: 0;
    padding:0;
    
}

html,body{
  overflow-x: hidden;
}

body{
  background-image: linear-gradient(rgba(27, 36, 55, 0.496), rgba(0, 0, 0, 0.182)),url(../../assets/img/shop.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  overflow-x: hidden;
 
  
}

h1{
  background-color: transparent;
  font-family:'Oswald', sans-serif; 
  text-align: center;
  font-size: 0px;
  color: #fafbfd;
  padding: 30px 0;
  padding-bottom: 50px;
  text-shadow: 2px 0px 8px rgba(0, 0, 0, 0.84);
  
}

h2 {
  font-family:'Oswald', sans-serif; 
  text-align: center;
  font-size: 40px;
}

/* seccion carrito */

.btn-regresar {
  display: block;
  background-color: transparent;
  width: 70px;
  height: 50px;
  position: absolute;
  padding-top: 30px;
  

}


.carrito{
  
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background-color: #fafbfd94;
  text-align: start;
  padding: 20px;

    
   
}
.carrito .header-carrito{
    background-color: #0d0d11;
    color: #fff;
    text-align: center;
    height: 70px;
    
}

.carrito .carrito-item{
    display: flex;
    align-items: start;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px 0 10px 0;
}
.carrito .carrito-item img{
    margin-right: 20px;
    width: 150px;
}
.carrito .carrito-item .carrito-item-titulo{
    font-family: 'Merriweather', serif;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #0d0d11;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #0d0d11;
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #0d0d11;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: transparent;
    padding: 30px;
}
.carrito-total .fila{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  
}

.carrito-total {
  padding: 0;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #0d0d11;
    color: #fafbfd;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
}
.carrito-total .btn-pagar:hover{
    background-color: #1b2437;
  
}

.btn-carrito{
  display:block;
}



/* SECCION RESPONSIVE */

/*Mobile muy pequeño*/
@media screen and (min-width: 200px) {

  html,body{
    overflow-x: hidden;
  }
  h1{
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }
  h3{
    font-size: 15px;
    padding-bottom: 20%;
  }

  .carrito .header-carrito{
    background-color: #0d0d11;
    color: #fff;
    text-align: center;
    height: 45px;

}
  .section-carrito{
    display: flex;
    justify-content: center;
  }
  
  .carrito{
    
    display: flex;
    justify-content: center;
    width: 80%;
  
  }

  .contenedor-img{
    width: 30px;
    padding-right: 30%;
    padding-bottom: 5%;
    
  }

  .item-img {
    width: 80px;
    padding-top: 10px;
  }
  

  .carrito .carrito-item .btn-eliminar{
    display: flex;
    justify-content: right;
    border: transparent;
   
    
  }

  .carrito-total .btn-pagar{
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  

  .carrito .carrito-item .selector-cantidad {
    display:flex;
    flex-direction: row;
    position:absolute;
    justify-content: center;
    margin: 0;
    padding: 80px 10px 10px 100px;
  
    
  }
  .carrito .carrito-item .carrito-item-cantidad{
    width: 25px;
   
   
  }

  .carrito .carrito-item .carrito-item-precio{
    font-size: 30px;
    padding-left: 8%;
    padding-top: 1%;
    position: relative;
    font-size: 15px;
   
  }
  .carrito-total .fila{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito .carrito-item img{
  margin-right: 20px;
  width: 60px;
}

.btn-eliminar {
  font-size: 20px !important;
}

}


/*Mobile pequeño*/
@media screen and (min-width: 320px) and (max-width: 480px){

  html,body{
    overflow-x: hidden;
  }
  h1{
    font-size: 50px;
  }

  
  h3{
    font-size: 15px;
    padding-bottom: 20%;
  }


  .section-carrito{
    display: flex;
    justify-content: center;
  }
  
  .carrito{
    
    display: flex;
    justify-content: center;
    width: 80%;
  
  }

  .contenedor-img{
    width: 50px;
    padding-right: 30%;
    padding-bottom: 5%;
    
  }
  

  .carrito .carrito-item .btn-eliminar{
    display: flex;
    justify-content: right;
    border: transparent;
    
  }


  .carrito .carrito-item .selector-cantidad {
    display:flex;
    flex-direction: row;
    position:absolute;
    justify-content: center;
    margin: 0;
    padding: 100px 10px 10px auto ;
    
  }
  .carrito .carrito-item .carrito-item-cantidad{
    width: 45px;
    padding: 0;
  }
  .carrito-total .fila{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito .carrito-item img{
  margin-right: 20px;
  width: 80px;
}

}

/*Mobile mediano + tablet*/
@media screen and (min-width: 480px) and (max-width: 850px){
  body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  h1{
    flex-wrap: wrap;
    font-size: 70px;
    
  }

  h2{
    font-size: 35px;
    padding-bottom: 10%;
    padding-top: 5px;
    

  }

  h3{
    font-size: 20px;
    padding-bottom: 10px;
   
  }

  .section-carrito{
    display: flex;
    justify-content: center;
  }
  
  .carrito{
    
    display: flex;
    justify-content: center;
    width: 80%;
    
   
  }


  .carrito .header-carrito{
    background-color: #0d0d11;
    color: #fff;
    text-align: center;
    height: 65px;

}

  .contenedor-img{
    width: 80px;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 10px;
    
  }

  

  .carrito .carrito-item .carrito-item-precio{
    font-size: 30px;
    padding-left: 8%;
    padding-top: 1%;
    position: relative;
    font-size: 20px;
   
  }

  .carrito .carrito-item .btn-eliminar{
    display: flex;
    padding-right: 3%;
    padding-top: 3%;
    border: transparent;
    
  }

  .carrito .carrito-item .selector-cantidad {
    display:flex;
    flex-direction: row;
    position:absolute;
    padding-right: 50%;
    padding-left: 40%;
    padding-top: 20%;
   

  }
  .carrito .carrito-item .carrito-item-cantidad{
    width: 70px;
    padding: 0;
    
  }

  .carrito-total .btn-pagar{
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .carrito-total .fila{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito .carrito-item img{
  margin-right: 20px;
  width: 120px;
}
 

} 

/*Pantalla mediana*/

@media screen and (min-width: 850px) and (max-width: 1800px){
  body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  h1{
    flex-wrap: wrap;
    font-size: 70px;
    
  }

  h2{
    font-size: 40px;
    padding-bottom: 10%;
    padding-top: 10px;
    

  }

  h3{
    font-size: 25px;
    padding-bottom: 10px;
   
  }

  .section-carrito{
    display: flex;
    justify-content: center;
  }
  
  .carrito{
    
    display: flex;
    justify-content: center;
    width: 80%;
    
   
  }


  .carrito .header-carrito{
    background-color: #0d0d11;
    color: #fff;
    text-align: center;
    height: 80px;

}

  .contenedor-img{
    width: 80px;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 10px;
    
  }

  

  .carrito .carrito-item .carrito-item-precio{
    font-size: 25px;
    padding-left: 18%;
    padding-top: 2%;
    position: relative;
   
  }

  .carrito .carrito-item .btn-eliminar{
    display: flex;
    padding-right: 1%;
    padding-top: 2%;
    border: transparent;
    
  }

  .carrito .carrito-item .selector-cantidad {
    display:flex;
    flex-direction: row;
    position:absolute;
    padding: 10% 10% 10% 40%;
   

  }
  .carrito .carrito-item .carrito-item-cantidad{
    width: 30%;
    padding: 0;
    
  }

  .carrito-total .btn-pagar{
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .carrito-total .fila{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito .carrito-item img{
  margin-right: 20px;
  width: 150px;
}


} 



