<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="shop.css">
    <script src="app.js" async></script>
    <title>Shop</title>
</head>
<body>


        <h2>WLANS BOOK´S STORE</h2>
    
    
        <!-- Carrito de Compras -->
        <section class="section-carrito" id="carrito">
          <div class="carrito">
            <div class="header-carrito">
                <h3>Tus libros</h3>
            </div>

            <div class="carrito-items">
                
                <div class="carrito-item">
                    <img src="https://www.tornamesa.co/imagenes/9788435/978843506351.GIF" width="100px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Las batallas silenciadas</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$50.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="../../assets/img/libroprueba.jpg" width="100px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Valkirias</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$68.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Total</strong>
                    <span class="carrito-precio-total">
                       
                    </span>
                </div>
                <button class="btn-pagar">Enviar pedido </button>
            </div>
          </div>
        </section>
    </section>

    <div id="alert"></div>

    <script src="shop.js"></script>
</body>
</html>