<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="registroStyles.css">
  <title>Crear Cuenta</title>
</head>

<body>
  <article class="article-styles">
    <section class="img-section-styles">
      <img class="img-styles" src="../../assets/img/background_registro_2.jpg" alt="">
      
    </section>

    <section class="section-styles">
      <div class="title-styles">
        <h3>Crea Tu Cuenta</h3>
      </div>

      <form class="form-styles">
        <div class="form-sections-styles">
          <div>
            <label>Tu Nombre</label>
            <br>
            <input type="text" required placeholder="Tu nombre...">
          </div>
          <div>
            <label>Tu Apellido</label>
            <br>
            <input type="text" required placeholder="Tu apellido...">
          </div>
        </div>


        <div class="form-sections-styles">
          <div>
            <label>Tu Correo Electrónico</label>
            <br>
            <input type="email" required placeholder="Tu correo...">
          </div>
          <div>
            <label>Tu Numero Telefónico</label>
            <br>
            <input type="tel" required placeholder="Tu numero...">
          </div>
        </div>

        <div class="form-sections-styles">
          <div>
            <label>Tipo de Documento</label>
            <br>
            <select>
              <option>Seleccione el Documento</option>
              <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
              <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
              <option value="Pasaporte">Pasaporte</option>
            </select>
          </div>
          <div>
              <label>Tu Numero de Identidad</label>
              <br>
              <input type="text" required placeholder="Tu documento...">
          </div>
        </div>

        <div class="form-sections-styles">
          <div>
            <label>Tu Departamento</label>
            <br>
            <select id="departamento">
              <option>Tu Departamento</option>
            </select>
          </div>
          <div>
            <label>Tu Ciudad o Municipio</label>
            <br>
            <select id="ciudad">
              <option>Tu Ciudad o Municipio</option>
            </select>
          </div>
        </div>

        <div class="direction-styles">
          <label>Tu Dirección de Residencia</label>
          <br>
          <input type="text" required placeholder="Tu dirección...">
        </div>

        <div class="form-sections-styles">
          <div>
            <label>Tu Contraseña</label>
            <br>
            <input type="password" required placeholder="Tu contraseña...">
          </div>
          <div>
            <label>Confirma la Contraseña</label>
            <br>
            <input type="password" required placeholder="Tu contraseña...">
          </div>
        </div>

        <div class="accept-styles">
          <div>
            <input type="checkbox" required>
          </div>
          <div>
            <p>Aceptas las Condiciones de Uso y el Aviso de Privacidad de wlansbooks.com.</p>
          </div>
        </div>

        <div class="div-submit">
          <input type="submit" value="Registrarse">
        </div>
      </form>

      <div class="count-exist-styles">
        <div>
          <p>¿Ya tienes una cuenta?</p>
        </div>
        <div class="iniciar-sesion-styles">
          <a href="../Login/LoginIndex.html">Iniciar Sesión</a>
        </div>
      </div>
      
    </section>
  </article>

  <script src="registroApp.js"></script>
</body>

</html>