@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle, rgba(27,36,55,1) 0%, rgba(13,13,17,1) 91%);
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: #fafbfd;
  min-height: 100vh;
}
label{
  color: #0d0d11;
  font-size: 15px;
  font-family:'Nunito+Sans', sans-serif;
  width: 100%;
  padding: 12px 0px;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #50555d;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]{
  font-family: 'Nunito+Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  background-color: #1b2437;
  color: #fafbfd;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section-styles{

  background-color: #fafbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 5px;
}
.title-styles h3{

  color: #0d0d11;
  font-family:'Oswald', sans-serif;
  font-size: 25px;
  padding: 5px 45px;
}
.form-styles{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-sections-styles{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px 20px;
}
.form-sections-styles div{
  padding: 10px 25px;
}

