<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="registroStyles.css">
  <title>Crear Cuenta</title>
</head>

<body>
  <section class="section-styles">
    <div class="title-styles">
      <h3>Crear Tu Cuenta</h3>
    </div>
    
    <form class="form-styles">
      <div class="form-sections-styles">
        <div>
          <label for="">Tu Nombre</label>
          <br>
          <input type="text" required placeholder="Tu nombre..." >
        </div>
        <div>
          <label for="">Tu Correo Electrónico</label>
          <br>
          <input type="text" required placeholder="Tu correo...">
        </div>
      </div>

      <div class="form-sections-styles">
        <div>
          <label for="">Tu Documento de Identidad</label>
          <br>
          <input type="email" required placeholder="Tu documento...">
        </div>
        <div>
          <label for="">Tu Numero Telefónico</label>
          <br>
          <input type="text" required placeholder="Tu numero...">
        </div>
      </div>

      <div class="form-sections-styles">
        <div>
          <label for="">Tu Ciudad o Pueblo</label>
          <br>
          <select>
            <option >Tu Ubicacion</option>
            <option value="php">PHP</option>
            <option value="java">Java</option>
            <option value="golang">Golang</option>
            <option value="python">Python</option>
            <option value="c#">C#</option>
            <option value="C++">C++</option>
            <option value="erlang">Erlang</option>
          </select>
        </div>
        <div>
          <label for="">Tu Dirección de Residencia</label>
          <br>
          <input type="text" required placeholder="Tu dirección...">
        </div>
      </div>

      <div class="form-sections-styles">
        <div>
          <label for="">Tu Contraseña</label>
          <br>
          <input type="password" required placeholder="Tu contraseña...">
        </div>
        <div>
          <label for="">Confirma la Contraseña</label>
          <br>
          <input type="password" required placeholder="Tu contraseña...">
        </div>
      </div>

      <div class="div-submit">
        <input type="submit" value="Registrarse">
      </div>

    </form>
  </section>
  
</body>
</html>